extends Layout/index.pug

block content
  .row
    .col-md-12
      // Page Heading
      .card.mb-4.border-left-success
          .card-body
              .d-sm-flex.align-items-center.justify-content-between
                  a(href="/quiz/question_update").btn.btn-primary Update Questions
      .card
        .card-header.card-header-primary
          h4.card-title Questions
          p.card-category
            | List of Questions
        .card-body
          .table-responsive
            table#dataTable.table.table-hover(width='100%' cellspacing='0')
              thead
                tr
                  th Question
                  th Option1
                  th Option2
                  th Option3
                  th Option4
                  th Correct Option
              tbody
                if(quizQuestions)
                  each quizQuestion in quizQuestions                    
                      tr
                        td #{quizQuestion.questionBody}
                        td #{quizQuestion.options[0]}
                        td #{quizQuestion.options[1]}
                        td #{quizQuestion.options[2]}
                        td #{quizQuestion.options[3]}
                        td #{quizQuestion.correctOption}

block script
    // Page level plugins
    script(src='../assets/vendor/datatables/jquery.dataTables.min.js')
    script(src='../assets/vendor/datatables/dataTables.bootstrap4.min.js')
    // Page level custom scripts
    script(src='../assets/js/demo/datatables-demo.js')
    if error
      script.
        const _error = "#{error}";
        console.log(_error)
        md.showNotification('top','right',_error,'danger')